#include "C:\Program Files (x86)\National Instruments\Shared\MSDTRedistributables\SDKHeaderFiles\8.1\winver.h"


2 24 "c:\\work\\src\\modules\\sonometer\\ARW\\cvibuild.ARW\\Debug\\manifest.xml"


STRINGTABLE DISCARDABLE
BEGIN
  65535  ""
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x1L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "ARW (Debug x86)\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "InternalName", "ARW\0"
            VALUE "LegalCopyright", "Copyright ©  2020\0"
            VALUE "OriginalFilename", "ARW.dll\0"
            VALUE "ProductName", " ARW\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4b0
    END
END

CVIDLLexports CVIDLLprototypes
{
   "struct _SElException *Connect(struct _Sonometer *me) __declspec(dllexport);"
   "\n",
   "struct _SElException *Disconnect(struct _Sonometer *me) __declspec(dllexport);"
   "\n",
   "struct _SElException *Read(struct _Sonometer *me, const char *data) __declspec(dllexport);"
   "\n",
   "struct _SElException *SoundLevelMeter(struct _Sonometer *me, int group, float *data, int *count_data, char *log) __declspec(dllexport);"
   "\n",
   "struct _SElException *Write(struct _Sonometer *me, const char *Query) __declspec(dllexport);"
   "\n",
   "void elexception_delete(struct _SElException **pException);"
   "\n",
   "void elexception_log_set(void (*fn_log)(struct _SElException *));"
   "\n",
   "struct _SElException *elexception_new(int errorCode, const char *messsage, const char *file, long line);"
   "\n",
   "void excdisplay(struct _SElException *pException);"
   "\n",
   "void excdispstr(struct _SElException *pException, char *str, int str_size);"
   "\n",
   "\0"
}

CVIDLLexports2 CVIDLLprototypes
{
}
