#include "C:\Program Files (x86)\National Instruments\Shared\MSDTRedistributables\SDKHeaderFiles\8.1\winver.h"


2 24 "c:\\work\\src\\modules\\Camera\\cognex\\cvibuild.cognex\\Debug\\manifest.xml"


STRINGTABLE DISCARDABLE
BEGIN
  65535  ""
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x1L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "cognex (Debug x86)\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "InternalName", "cognex\0"
            VALUE "LegalCopyright", "Copyright ©  2020\0"
            VALUE "OriginalFilename", "cognex.dll\0"
            VALUE "ProductName", " cognex\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4b0
    END
END

CVIDLLexports CVIDLLprototypes
{
   "int Cognex_Get_Value_Integer(char *Colonne, int Ligne);"
   "\n",
   "struct _SElException *Cognex_Job(struct _Camera *me, const char *JobID) __declspec(dllexport);"
   "\n",
   "struct _SElException *Cognex_Offline(struct _Camera *me) __declspec(dllexport);"
   "\n",
   "struct _SElException *Cognex_Online(struct _Camera *me) __declspec(dllexport);"
   "\n",
   "struct _SElException *Cognex_Read(struct _Camera *me, char *data) __declspec(dllexport);"
   "\n",
   "int Cognex_Set_Value_Integer(char *Colonne, int Ligne, int Value);"
   "\n",
   "struct _SElException *Cognex_Trigger(struct _Camera *me) __declspec(dllexport);"
   "\n",
   "struct _SElException *Cognex_act_job(struct _Camera *me, int *actual_job) __declspec(dllexport);"
   "\n",
   "struct _SElException *Cognex_disconnect(struct _Camera *me) __declspec(dllexport);"
   "\n",
   "struct _SElException *Cognex_login(struct _Camera *me) __declspec(dllexport);"
   "\n",
   "struct _SElException *Cognex_set_number_boutton(struct _Camera *me, int phase) __declspec(dllexport);"
   "\n",
   "struct _SElException *Cognex_set_param(struct _Camera *me, int phase) __declspec(dllexport);"
   "\n",
   "struct _SElException *Cognex_set_parameters(struct _Camera *me, char *Colonne, int index_pico) __declspec(dllexport);"
   "\n",
   "int ReadResponseTelnet(int Length, char *String_To_Read);"
   "\n",
   "int ServerTCPCB(unsigned int handle, int event, int error, void *callbackData);"
   "\n",
   "void elexception_delete(struct _SElException **pException);"
   "\n",
   "void elexception_log_set(void (*fn_log)(struct _SElException *));"
   "\n",
   "struct _SElException *elexception_new(int errorCode, const char *messsage, const char *file, long line);"
   "\n",
   "void excdisplay(struct _SElException *pException);"
   "\n",
   "void excdispstr(struct _SElException *pException, char *str, int str_size);"
   "\n",
   "struct _SElException *openTCPserver(struct _Camera *me) __declspec(dllexport);"
   "\n",
   "\0"
}

CVIDLLexports2 CVIDLLprototypes
{
}
